<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70%;
  

  
}
</style>
</head>
<body>

<h3>banner Adding </h3>

<div class="container">
  <form action="/admin/banneradd" method="post" enctype="multipart/form-data" >
    <label for="banner">banner name</label>
    <input type="text"  name="BannerName" placeholder="banner name..">


    <label for="subnot">sub note</label><br>
    <input type="text"  name="SubNot" placeholder="write something..."><br>

    <label for="image">banner image</label>
    <input type="file" id="image" name="image" accept="image" ><br>

    <input type="submit" value="Submit">
  </form>
</div>





</body>
</html>
