<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/enterotp" method="post">
            <label for="password">enter new password </label><br>
            <input type="password" name="password" id=""><br>
            <label for="password">confirm-password </label><br>
            <input type="password" name="password" id=""><br>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>