<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>chainge password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <meta name="robots" content="noindex, follow">
</head>

<body>
  <div class="wrapper" style="background-image: url('/image/bg-registration-form-2.jpg');">
    <div class="inner">
      <form action="/enterotp" id="registrationForm" method="post">
        <h3>chainge password  <h3>Dcart</h3></h3>
        <div class="form-group">
          
          
        </div>
        <div class="form-wrapper">
          <label for="email" id="passwordError">password</label>
          <input type="password" class="form-control" id="password"  name="password">
          <div class="error-message" id="emailError"></div>
        </div>
        
        <div class="form-wrapper">
          <label for="password" id="confirmPasswordError"> confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmpassword">
          <div class="error-message" id="passwordError"></div>
        </div>
        
        <button type="submit">chainge password</button>
       
      </form>
    </div>
  </div>
  <script>
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&*!])[A-Za-z\d@#$%^&*!]{8,}$/;

          let passlab = document.getElementById("passwordError")
          let confirmpasswordl=document.getElementById("confirmPasswordError")

          const password =document.getElementById('password')
          const confirmpassword = document.getElementById('confirmPassword')

          password.onblur =()=>{
            if(!passwordRegex.test(password.value)){
            console.log("true")
            passlab.textContent="Password must contain @Aa1"
            passlab.style.color="red"
         }else{
            passlab.style.color="green"
         }
        }
         confirmpassword.onblur=()=>{
           if(!(password.value==confirmpassword.value)){           
              confirmpasswordl.textContent="confirm password doesnt match "
              confirmpasswordl.style.color="red"
        }else{
          confirmpasswordl.style.color="green"
        }
       }

  </script>
</body>
</html>








const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&*!])[A-Za-z\d@#$%^&*!]{8,}$/;
const nameregex = /^[A-Za-z]+$/
const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

let namelab = document.getElementById("firstNameError")
let lastnamelab = document.getElementById("lastNameError")
let emaillab = document.getElementById("emailError")
let phonelab =document.getElementById("mobileNumberError")
let passlab = document.getElementById("passwordError")
let confirmpasswordl=document.getElementById("confirmPasswordError")
//input fields taken here
const name1 = document.getElementById('firstName')
const email = document.getElementById('email')
const phone = document.getElementById('mobileNumber')
const password =document.getElementById('password')
const confirmpassword = document.getElementById('confirmPassword')
email.onblur =()=>{
if(!(emailRegex.test(email.value))){
emaillab.textContent="invalidemail"
emaillab.style.color="red"
}else{
emaillab.innerText="Email"
emaillab.style.color="green"
}
}
name1.onblur =()=>{
if(!(nameregex.test(name1.value))){
namelab.textContent="invalid Name"
namelab.style.color="red"
}else{
namelab.innerText="Name"
namelab.style.color="green"
}
}
// phone.onblur =()=>{
// if(!(phone.value)){
// console.log("hi")
// phonelab.textContent="invalid phone number"
// phonelab.style.color="red"
// }else{

//     phonelab.style.color="green"
// }
// }
password.onblur =()=>{
if(!passwordRegex.test(password.value)){
console.log("true")
passlab.textContent="Password must contain @Aa1"
passlab.style.color="red"
}else{
passlab.style.color="green"
}
}
confirmpassword.onblur=()=>{
if(!(password.value==confirmpassword.value)){
console.log(password.value==confirmpassword.value)
console.log(password.value)
console.log(confirmpassword.value)
confirmpasswordl.textContent="confirm password doesnt match "
confirmpasswordl.style.color="red"
}else{
console.log("hi")
confirmpasswordl.style.color="green"
}
}