



<!DOCTYPE html> 
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>dcart otp validation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <meta name="robots" content="noindex, follow">
</head>

<body>
  <div class="wrapper" style="background-image: url('/image/bg-registration-form-2.jpg');">
    <div class="inner">
      <form action="/forgotpassword" id="registrationForm" method="post">
        <h3>OTP validation Form <h3>Dcart</h3></h3>
        <div class="form-group">
          
                
        </div>
        <div class="form-wrapper">
          <label for="email" >enter email</label>
          <input type="email" class="form-control"   name="email">
          
        </div>
        
       
        <button type="submit">submit</button>
       
      </form>
    </div>
  </div>
</body>
</html>