<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/css/login.css">
    
</head>
<body>

    <form action="/login " method="post">
       <div class="main">
        <div class="head1"><h2><B>Login Page</B></h2></div><hr>
        <div class="email1"><label for="email">username</label><br><input type="email" name="email" id=""></div>
        <div class="password1"><label for="password">password</label><br><input type="password" name="password" id=""></div>
        <div class="submit1"><input type="submit" value="login"></div>
        <div class="register1"> <a href="/signup">register new user?</a></div>
        <div class="register1"> <a href="/forgotpassword">forgotpassword</a></div>
       </div>
       

    </form>
    <div class="headding"><h3>welcome to</h3><br><h1> D cart</h1></div>
</body>
</html>