<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70%;
  

  
}
</style>
</head>

<body>

  <h3>Product Adding</h3>
  
  <div class="container">
    <form action="/admin/productsadd" method="post" enctype="multipart/form-data">
      <label for="productname">Product Name</label>
      <input type="text" id="name" name="productname" placeholder="Product name..">
  
      <label for="price">Price</label><br>
      <input type="number" id="price" name="price" placeholder="Product price"><br><br>
  
      <label for="offerprice">Offer Price</label><br>
      <input type="number" id="offerprice" name="offerprice" placeholder="Offer price"><br><br>
  
      <label for="stock">Stock</label><br>
      <input type="number" id="stock" name="stock" placeholder="Product quantity"><br><br>
  
      <label for="category">Category</label>
      <select id="category" name="category" onblur="">
        <% category.forEach(cat => { %>
          <option ><%= cat.category %></option>
        </select>
        
        <label for="subcategory">Subcategory</label>
        <select id="subcategory" name="subcategory">
          <% category.forEach(cat => { %>
            <% cat.subcategory.forEach(subcat => { %>
              <option ><%= subcat %></option>
              <% }); %>
              <% }); %>
              <% }); %>
      </select>
  
      <label for="discription">Description</label>
      <textarea id="discription" name="discription" placeholder="Write description.."></textarea>
  
      <label for="file">Product Image</label>
      <input type="file" id="image" name="image" multiple><br>
  
      <input type="submit" value="Submit">

      
    </form>
  </div>
  <script src="/js/category.js"></script>
  
  </body>
  




</html>































