<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/sign.css">
</head>
<body>
    
    <form action="/signup" method="post">
    <div class="main">
            <div class="name1">
                <label for="name">name</label><br>
                <input type="text" name="name" id="name" >
            </div>

            <div class="email1">
                <label for="email">email</label><br>
                <input type="email" name="email" id="email" >
            </div>
            
            <div class="email1">
                <label for="mobile_number">mobile_number</label><br>
                <input type="tel" name="mobile_number" id="mobile_number" >
            </div>

            <div class="password">
                <label for="password">password</label><br>
                <input type="password" name="password" id="email" >
            </div>
            <div class="confirm_password">
                <label for="confirm_password">confirm_password</label><br>
                <input type="password" name="confirm_password" id="confirm_password" >
            </div>
            <div class="submit"><input type="submit"  id="" value="signup"></div>
       
        </div> 
    </form>
</body>
</html>